<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fileName</key>
		<string>Hun_Ord_Py_C3_mf_1_16441</string>
		<key>midiNumber</key>
		<integer>60</integer>
		<key>pitch</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>fileName</key>
		<string>Hun_Ord_Py_C3_mf_1_16441</string>
		<key>midiNumber</key>
		<integer>61</integer>
		<key>pitch</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>fileName</key>
		<string>Hun_Ord_Py_D3_mf_1_16441</string>
		<key>midiNumber</key>
		<integer>62</integer>
		<key>pitch</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>fileName</key>
		<string>Hun_Ord_Py_D3_mf_1_16441</string>
		<key>midiNumber</key>
		<integer>63</integer>
		<key>pitch</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>fileName</key>
		<string>Hun_Ord_Py_E3_mf_1_16441</string>
		<key>midiNumber</key>
		<integer>64</integer>
		<key>pitch</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>fileName</key>
		<string>Hun_Ord_Py_F3_mf_1_16441</string>
		<key>midiNumber</key>
		<integer>65</integer>
		<key>pitch</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>fileName</key>
		<string>Hun_Ord_Py_F3_mf_1_16441</string>
		<key>midiNumber</key>
		<integer>66</integer>
		<key>pitch</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>fileName</key>
		<string>Hun_Ord_Py_G3_mf_1_16441</string>
		<key>midiNumber</key>
		<integer>67</integer>
		<key>pitch</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>fileName</key>
		<string>Hun_Ord_Py_G3_mf_1_16441</string>
		<key>midiNumber</key>
		<integer>68</integer>
		<key>pitch</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>fileName</key>
		<string>Hun_Ord_Py_A3_mf_1_16441</string>
		<key>midiNumber</key>
		<integer>69</integer>
		<key>pitch</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>fileName</key>
		<string>Hun_Ord_Py_A3_mf_1_16441</string>
		<key>midiNumber</key>
		<integer>70</integer>
		<key>pitch</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>fileName</key>
		<string>Hun_Ord_Py_B3_mf_1_16441</string>
		<key>midiNumber</key>
		<integer>71</integer>
		<key>pitch</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>fileName</key>
		<string>Hun_Ord_Py_C4_mf_1_16441</string>
		<key>midiNumber</key>
		<integer>72</integer>
		<key>pitch</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>fileName</key>
		<string>Hun_Ord_Py_C4_mf_1_16441</string>
		<key>midiNumber</key>
		<integer>73</integer>
		<key>pitch</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>fileName</key>
		<string>Hun_Ord_Py_D4_mf_1_16441</string>
		<key>midiNumber</key>
		<integer>74</integer>
		<key>pitch</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
